<div :v-if="orderBlockInfo" class="orderBlockHole">
        <p style="font-size:18px;min-height:48px ;">
            <b>{{ orderBlockInfo.firstLine }}<br/>
                {{ orderBlockInfo.secondLine }}
            </b>
        </p>
        <p style="text-decoration: line-through;color:rgba(155,155,155,1);min-height: 20px;">{{ orderBlockInfo.thirdLine }}</p>
        <p style="color:rgba(155,155,155,1);">¥<em style="font-size:36px;font-weight: 700;color: #4A4A4A;">{{ orderBlockInfo.fourthLine.price}}</em>{{ orderBlockInfo.fourthLine.unit}}</p>
        <p style="color:#7999F2;min-height: 20px;">{{ orderBlockInfo.fifthLine }}</p>
    <div style="min-height: 120px;display: flex;flex-direction: column;justify-content: space-between;">
        <p>{{ orderBlockInfo.sixthLine }}<br/> {{ orderBlockInfo.seventhLine }}
            <br/> {{ orderBlockInfo.eighthLine }}
            <br/> {{ orderBlockInfo.ninthLine }}
            <br/> {{ orderBlockInfo.tenthLine }}
            <br/> {{ orderBlockInfo.eleventhLine }}
        </p>
    </div>
    <img :src="orderBlockInfo.twelfthLine" alt="">
    <div style="display:flex">
        <el-button
          type="primary"
          class="buyBtn use half"
          :class="{ disabled: orderBlockInfo.isDisabled }"
          @click="toRootRadar"
          v-if="orderBlockInfo.isBuy"
          :disabled="orderBlockInfo.isDisabled">
          立即使用
        </el-button>
        <el-button
          type="primary"
          class="buyBtn buy half"
          @click="buyBtn"
          v-if="!(orderBlockInfo.isBuy && orderBlockInfo.firstLine === '试用版')">
          {{orderBlockInfo.btnText}}
        </el-button>
    </div>
    <div style="min-height: 20px;">
        <p v-if="orderBlockInfo.isBuy && !orderBlockInfo.isDisabled">到期时间：{{orderBlockInfo.endTime}}</p>
        <p v-if="orderBlockInfo.isDisabled" style="color: #D3182F">{{orderBlockInfo.firstLine}}已到期</p>
    </div>
</div>
