<div class="hello">
    <el-dialog :visible.sync="createGroupDialogFlag" :show-close=false :modal=false class="createGroups">
    <div slot="title" class="header">
        <h2>创建群组</h2>
        <el-button icon="el-icon-close" @click="closeModal"></el-button>
        <div v-if="addWordSucceed" class="m-checkbox-tip">
        <!-- <i class="el-icon-success"></i>
        添加成功 -->
        </div>
    </div>
    <div class="createGroupsContent">
    <p>
        <el-radio v-model="radio" label="1" @change="radioChange">标准群组</el-radio>
        <el-radio v-model="radio" label="2" @change="radioChange">自定义群组</el-radio>
    </p>
    <div class="myDefinedGroup" v-if="showMyDefinedGroup">
        <p class="myDefinedP"><el-input placeholder="请输入群组名称" v-model="groupName"></el-input></p>
        <p class="errorP" v-if="showErrorCreateGroup">群组名称重复</p>
    </div>
    <div class="standardGroup" v-if="showStandardGroup">
        <el-select v-model="createGroups" clearable placeholder="">
            <el-option
              v-for="item in options"
              :key="item.value"
              :label="item.label"
              :value="item.value">
            </el-option>
          </el-select>
    </div>
    <el-button type="primary" plain class="btnCancel">取消</el-button>
    <el-button type="primary" class="btnConfirm">确定</el-button>
    </div>
    </el-dialog>
</div>
