.funcViewContainer{
    width: 888px;
    height: 100%;
    margin: 0 auto;
    padding-top: 150px;
    .hole{
        margin-bottom: 150px;
        .title{
            text-align: center;
            width: 100%;
            font-size: 24px;
            font-weight: 900;
            position: relative;
            .line{
                width:39px;
                height:3px;
                box-shadow:0px 2px 4px 0px #00000080;
                background:rgba(28,202,218,1);
                margin: 0 auto;
            }
        }
        .smallHoleContainer{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: 50px 0;
            .smallHole{
                width: 220px;
                text-align: center;
                .smallHoleBP{
                    font-size: 26px;
                    font-weight: 900;
                }
                .slogan{
                    font-size: 20px;
                    font-weight:700;
                }
                p{
                    font-size: 18px;
                    margin-top: 20px;
                }
                .funcViewIcon{
                    font-size: 70px;
                    color: rgb(28, 200, 216);
                }
            }
        }
        .twoBtn{
            display: flex;
            justify-content: center;
        }
    }
}