<div class="DiBu">
    <div class="container">
        <el-button type="text">友情链接：</el-button>
        <el-button type="text" @click="open1">老草来了</el-button>
        <el-button type="text" @click="open2">抖数公众号</el-button>
        <el-button type="text"><a href="https://www.edoushu.com/#/shenqi" target="https://www.edoushu/#/shenqi">神器</a></el-button>
        <el-button type="text"><a href="https://alimarket.taobao.com/markets/alimama/zhitongchecibiao" target="https://alimarket.taobao.com/markets/alimama/zhitongchecibiao">直通车TOP20万</a></el-button>
        <el-button type="text"><a href="http://zhitongche.taobao.com/" target="http://zhitongche.taobao.com/">直通车后台</a></el-button>
        <!-- <el-button type="text"><a href="https://sycm.taobao.com/" target="https://sycm.taobao.com/">生意参谋</a></el-button> -->
        <el-button type="text"><a href="https://daxue.taobao.com/" target="https://daxue.taobao.com/">淘宝大学</a></el-button>
        <!-- <el-button type="text"><a href="https://sycm.taobao.com/college/overview" target="https://sycm.taobao.com/college/overview">数据学院</a></el-button> -->
    </div>
    <div class="middle">
      <span>抖数科技（杭州）有限公司 版权所有 浙ICP备18023675号</span>
    </div>
    <div class="footers">
      <span>Copyright©2017-2018 Doushu.All Rights Reserved.</span>
    </div>
  </div>
