<div class="serviceContainer">
    <div class="holeContainer">
        <el-popover placement="left" trigger="hover" width="" transition="el-zoom-in-center" popper-class="useCourse" content="点击这里查看使用教程～">
            <div class="hole" slot="reference">
                <a target="_blank" href="https://v.doushudata.com/video.html">
                    <i class="iconfont serviceIco" style="color:#669acc;" title="有事点这里">&#xe656;</i>
                    <span>使用教程</span>
                </a>
            </div>
        </el-popover>
        <el-popover placement="left" trigger="hover" width="" transition="el-zoom-in-center" content="通过旺旺联系我们客服～若打不开，请先下载旺旺">
            <div class="hole" slot="reference">
                <a target="_blank" href="http://www.taobao.com/webww/ww.php?ver=3&touid=%E6%8A%96%E6%95%B0%E7%A7%91%E6%8A%80&siteid=cntaobao&status=1&charset=utf-8">
                    <i class="iconfont serviceIco" style="color:#1CCADA;" title="有事点这里">&#xe641;</i>
                    <span>旺旺咨询</span>
                </a>
            </div>
        </el-popover>
        <el-popover placement="left" trigger="hover" width="150px" transition="el-zoom-in-center" content="">
            <img src="../../assets/xd.jpg" width="150px" height="150px" alt="" srcset="">
            <div class="hole" slot="reference">
                <i class="iconfont serviceIco" style="color:#62b900;" title="有事点这里">&#xe66c;</i>
                <span>微信咨询</span>
            </div>
        </el-popover>
        <el-popover placement="left" trigger="hover" width="" transition="el-zoom-in-center" content="通过QQ联系我们客服～若打不开，请先下载QQ">
            <div class="hole" slot="reference">
                <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=215077530&site=qq&menu=yes">
                    <i class="iconfont serviceIco" style="color:#eb4f38;" title="有事点这里">&#xe66a;</i>
                    <span>QQ咨询</span>
                </a>
            </div>
        </el-popover>
    </div>
</div>
