<div class="DiBu">
    <div class="container">
        <span>友情链接:</span>
        <span><b><a href="#">直通车后台</a></b></span>
        <span><b><a href="#">生意参谋</a></b></span>
        <span><b><a href="#">生意经</a></b></span>
        <span><a href="#">金融中心</a></span>
        <span><a href="#">51运管中心</a></span>
        <span><a href="#">金融中心</a></span>
        <span><a href="#">51运管中心</a></span>
        <span><a href="#">金融中心</a></span>
        <span><a href="#">51运管中心</a></span>
        <span><a href="#">金融中心</a></span>
        <span><a href="#">51运管中心</a></span>
        <span><a href="#">金融中心</a></span>
        <span><a href="#">金融中心</a></span>
    </div>
    <div class="middle">
      <span>抖数科技（杭州）有限公司 版权所有 浙ICP备12036034号-4</span>
    </div>
    <div class="footers">
      <span>Copyright©2017-2018 Doushu.All Rights Reserved.</span>
    </div>
  </div>
