<div class="m-header">
    <div @click="logoClick" class="logo">
<img class="logoImg" draggable="false" src="../../assets/logo.png" alt="">
      </div>
    <el-menu :default-active="activeIndex"
            class="el-menu-demo" background-color="transparent" text-color="white" active-text-color="white"
            mode="horizontal"
            @select="handleSelect">
        <el-menu-item index="1">功能概览</el-menu-item>
        <el-menu-item index="2">词根雷达</el-menu-item>
        <el-menu-item index="3">标签实验室</el-menu-item>
        <el-menu-item index="4">智慧搜索</el-menu-item>
        <el-menu-item index="5">产品订购</el-menu-item>
        <!-- <el-menu-item index="6" >帮助中心</el-menu-item> -->
    </el-menu>
    <div class="login">
        <a v-if="!isLogin" @click="resetActiveIndex(0)">登录</a>
        <a v-if="!isLogin" @click="resetActiveIndex(1)">注册</a>
        <div class="shopName" v-else>
          <span>{{globaTaobaoName}}</span>
            <el-dropdown  size="small" @command="loginOut">
                <span class="el-dropdown-link"><i class="el-icon-arrow-down el-icon--right"></i>
                </span>
                <el-dropdown-menu slot="dropdown">
                  <el-dropdown-item command="退出登录">退出登录</el-dropdown-item>
                </el-dropdown-menu>
            </el-dropdown>
        </div>

    </div>
    <input style="display:none;" id="taobao-extension-data" @change="getTaobaoData" />
</div>
